@using MetaWork.Data.ViewModel
@model ReportProjectDetailsViewModel
@{
    ViewBag.Title = "PartialViewReportUserProject";
}
@*<script src="~/Assets/js/jquery.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common.min.css" />
<link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.default.mobile.min.css" />
<script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>*@
    <h4>Thống kê thời gian sử dụng của @Model.HoTen trong dự án @Model.TenDuAn @Model.KhoangThoiGian</h4>
<div class="demo-section k-content wide">
    <div id="chartReportUserProject" style="width:100%"></div>
</div>
<script>
    var data = {}
    data.StrStartDate='@Model.StartDate.ToString("dd/MM/yyyy")';
    data.StrEndDate ='@Model.EndDate.ToString("dd/MM/yyyy")';
    data.NguoiDungId = '@Model.NguoiDungId';
    data.DuAnId = '@Model.DuAnId';
    
    $(document).ready(function () {
           $.ajax({
          url: "/Report/GetDataReportUserProject",
               data: data,
               async: false,
       context: document.body,
                type: "POST",
                dataType: "html",
        success: function (data) {
            result = JSON.parse(data);
            createChart(result);
        },
        error: function (xhr, status) {

        },
        complete: function (xhr, status) {
            //$('#showresults').slideDown('slow')
        }
    });
    });
   function createChart(result) {
            $("#chartReportUserProject").kendoChart({
                title: {
                    text: "Tổng thời gian đã sử dung: "+result.TotalHour
                },
                legend: {
                   position: "top"
                },
                seriesDefaults: {
                    labels: {
                        template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                        position: "outsideEnd",
                        visible: true,
                        background: "transparent"
                    }
                },
                series: [{
                    type: "pie",
                    data: result.PieTime
                }],
                tooltip: {
                    visible: true,
                    template: "#= category # - #= kendo.format('{0:P}', percentage) #"
                }
            });
        }

      

    $(document).bind("kendo:skinChange", createChart);
</script>