@using MetaWork.Data.ViewModel
@model ToDoWorkViewModel
@using MetaWork.Data;
@using MetaWork.Data.Provider
@{
    ViewBag.Title = "ToDoWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int number = (int)DateTime.Now.DayOfWeek;
    string str = "";
    NguoiDung userLoged = new NguoiDung();
    if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
    {
        string username = FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name;
        userLoged = new NguoiDungProvider().GetUserByUsername(username);
    }
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<input type="hidden" id="tuanHTM" value="@ViewBag.TuanHienTai" />
<input type="hidden" id="yearM" value="@ViewBag.Year" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common.min.css" />
<link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.911/styles/kendo.default.mobile.min.css" />
<script src="https://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<style>
    .testlayer, .overlayCM0, .overlayCM1 {
        position: absolute;
    }

    .popUpCM {
        cursor: pointer;
    }

    th, td {
        min-width: 70px;
    }

    .cotTen {
        min-width: 200px;
    }
</style>
<div class="row">
    <div class="col-sm-1">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group ">
                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <a onclick="openAddShipModal()" class="btn btn-inverse dropdown-toggle waves-effect waves-light " style="height:34px!important"><span class="m-r-5"><i class="fa fa-plus-square"></i></span>Thêm mới Ship</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Chọn dự án</label>
                            <select id="SelectDuAnF" data-placeholder="Chọn dự án..."></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Chọn trạng thái dự án thành phần</label>
                            <select id="SelectTrangThaiDuAnF" data-placeholder="Chọn trạng thái dự án..."></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Chọn nhóm</label>
                            <select id="SelectPhongBanF" data-placeholder="Chọn nhóm người..."></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Người dùng</label>
                            <select id="SelectNguoiDung" data-placeholder="Chọn người dùng..."></select>
                        </div>
                    </div>
                    <div class="col-sm-3" id="divTu" hidden>
                        <div class="form-group">
                            <label class="control-label">Từ</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' id="txtFromDate" class="form-control" value="@Model.StrStartDate" />

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" id="divDen" hidden>
                        <div class="form-group">
                            <label class="control-label">Đến</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' id="txtToDate" class="form-control" value="@Model.StrEndDate" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="control-label">Thời gian: </label>
                        <select style="width:100%" id="ddlTime" class="form-control">
                            @if (Model.TimeTypes != null && Model.TimeTypes.Count > 0)
                            {
                                foreach (var item in Model.TimeTypes)
                                {
                                    if (item.Type == Model.Type)
                                    {
                                        <option value="@item.Type" selected> @item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Type"> @item.Name</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Task quan tâm</label><br />
                            @if (Model.QuanTam)
                            {
                                <input type="checkbox" checked data-toggle="toggle" id="chkQuanTam">
                                @*<input class="m-t-15" id="chkQuanTam" checked type="checkbox"> <label for="chkQuanTam"> Quan tâm</label>*@
                            }
                            else
                            {
                                <input type="checkbox" data-toggle="toggle" id="chkQuanTam">
                                @*<input class="m-t-15" id="chkQuanTam" type="checkbox"> <label for="chkQuanTam">Quan tâm</label>*@
                            }
                        </div>
                    </div>
                    <div class="col-sm-2 text-right">
                        <div class="form-group">
                            <label for="field-3" class="control-label">&nbsp;&nbsp;&nbsp;</label><br />
                            <button id="btnFilter" class="btn btn-default dropdown-toggle waves-effect waves-light"><span class="m-r-5"><i class="fal fa-filter"></i></span>Lọc</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shipDetail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Chi tiết Shipable</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 bg-ship-able-week-now p-b-10">
                        <h4 class="m-b-20"><b>Thông tin Shipable</b></h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-box-open m-r-5"></i> Tên Ship-able:</label>
                                </div>
                                <div class="col-sm-8">
                                    <input id="txtTenShipableDT" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-project-diagram m-r-5"></i> Dự án: </label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="cboDuAnDT" class="form-control">
                                        <option value="0"> Chọn dự án</option>
                                    </select>
                                </div>
                            </div>
                            @*<input type="hidden" id="DuAnIdToInsert" />
                                <input type="hidden" id="ShipId" />
                                <input type="hidden" id="GiaiDoanDuAnIdToInsert" />*@
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="fal fa-analytics m-r-5"></i> Dự án thành phần: </label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="cboGiaiDoanDuAnDT" class="form-control">
                                        <option id="0"> Chọn dự án thành phần </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-calendar-alt m-r-5"></i> Tuần: </label>
                                </div>
                                <div class="col-sm-8">
                                    <p id="TuanBatDauDT"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-wifi m-r-5"></i> Trạng thái</label>
                                </div>
                                <div class="col-sm-4">
                                    <select id="cboTrangThaiDT" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-wifi m-r-5"></i> Người xử lý</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="cboNguoiXuLyShip" class="form-control">
                                        <option value="0"> Chọn người xử lý </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-calendar-alt m-r-5"></i> Deadline: </label>
                                </div>
                                <div class="col-sm-8">
                                    <div class='input-group date' id='datetimepicker11DT'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' id="txtDeadLineDT" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="label-ship-info"><i class="far fa-info-circle m-r-5"></i> Mô tả: </label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="5" id="txtGhiChuDT"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-8">
                        <h4><b>Danh sách công việc</b></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td width="45%" class="font-w-500 text-mute">Tên</td>
                                            <td width="10%" class="font-w-500 text-mute">Trạng thái</td>
                                            <td width="25%" class="font-w-500 text-mute">Người đã logtime</td>
                                            <td width="10%" class="font-w-500 text-mute">Logtime</td>
                                        </tr>
                                    </thead>
                                    <tbody id="ListCongViecInShip" class="todoListInShip"></tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a class="btn-link-grey waves-effect font-w-500 m-r-10" data-dismiss="modal">Đóng</a>
                <button type="button" class="btn btn-warning waves-effect waves-light" id="btnUpdateShip"><i class="fal fa-retweet m-r-5"></i> Cập nhật</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="addQuickTimeModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-60">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="titleQuickTimeModal">Đăng ký thời gian làm việc</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3">
                        <select id="cboDuAnQTA" class="form-control" disabled>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select id="cboShipQTA" class="form-control" disabled>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select id="cboTaskQTA" class="form-control" disabled>
                        </select>
                    </div>
                </div>
                <div class="row" id="rowAddTime2">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Từ</label>
                            <input type="time" id="txtTimeFromQTA" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Đến</label>
                            <input type="time" id="txtTimeToQTA" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Ngày</label>
                            <div class='input-group date' id='datetimepickerQTA'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' id="txtNgayLamViecQTA" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Thoát</button>
                <button type="button" id="btnSubmitQTA" class="btn btn-primary waves-effect waves-light">Lưu</button>
            </div>
        </div>

    </div><!-- /.modal-content -->
</div>

<div class="container">
    <div id="addShipModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-60">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Thêm mới ship-able</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Chọn dự án</label><span class="text-danger">(*)</span>
                                    <select id="cboDuAn" class="form-control">
                                        <option value="0"> Chọn dự án</option>
                                        @*<option value="@Model.DuAnId"> @Model.TenDuAn </option>*@
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Chọn dự án thành phần </label><span class="text-danger">(*)</span>
                                    <select id="cboGiaiDoanDuAn" class="form-control">
                                        <option id="0"> Chọn dự án thành phần </option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Chọn Người</label>
                                        <select id="cboNguoiDung" class="form-control">
                                            <option id="0"> Chọn người </option>
                                        </select>
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Tên shipable</label><span class="text-danger">(*)</span>
                                    <input style="width:100%" id="txtTenShipable" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label ">Quy trình công việc (nếu có) </label>
                                    <select id="cboTemplate" class="form-control">
                                        <option value="0">Chọn quy trình </option>
                                        @if (Model.MauGoiChuyenGiaos != null && Model.MauGoiChuyenGiaos.Count > 0)
                                        {
                                            foreach (var item in Model.MauGoiChuyenGiaos)
                                            {
                                                <option value="@item.MauGoiChuyenGiaoId">@item.TenMau</option>
                                            }
                                        }


                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Deadline</label>
                                    <div class='input-group date' id='datetimepicker11'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' id="txtDeadLine" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Các công việc cần làm trong Ship</label>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Chọn</th>
                                            <th>Tên công việc - Task</th>
                                            <th>Người được giao</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbdyHangMuc">
                                        <tr id="LastRow">
                                            <td></td>
                                            <td> <input class="form-control" id="LastInput" type="text"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Mô tả: thế nào là xong việc</label>
                            <textarea class="form-control" rows="5" id="txtGhiChu"></textarea>
                        </div>

                        <hr />
                        @*<div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Trạng thái</label>
                                        <select id="cboTrangThai" class="form-control">
                                            <option value="0">Chọn trạng thái</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <select id="cboTrangThai2" class="form-control m-t-5">
                                            <option value="0">Chọn trạng thái</option>
                                        </select>
                                        <label class="control-label m-t-15" id="lblTrangThaiPlan"></label>
                                    </div>
                                </div>
                                <div class="col-sm-4" id="divXuLy">
                                    <br />
                                    <input class="m-t-15" id="chkXuLyINW" type="checkbox"> <label for="chkXuLyINW"> Xử lý trong tuần tiếp theo</label>
                                </div>

                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-6"> </div>
                        <div class="col-sm-6">
                            <div class="row pull-right">
                                <button type="button" class="btn btn-link" data-dismiss="modal">Thoát</button>
                                <button type="button" id="btnSubmitQT" class="btn btn-success waves-effect waves-light">Lưu danh sách Task vào quy trình</button>
                                <button type="button" id="btnSubmit" class="btn btn-primary waves-effect waves-light">Lưu</button>
                            </div>

                            <div class="row" id="divSaveQuyTrinh">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-border panel-body">
                                        <div class="form-group">
                                            <label class="control-label">Tên quy trình</label>
                                            <input style="width:100%" id="txtTenQuyTrinh" class="form-control" />
                                            <a class="btn btn-link" id="btnHuyQT"> Hủy</a> <a class="btn btn-primary p-l-15" id="btnLuuQT"> Lưu quy trình</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <div id="addTaskModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-60">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Thêm mới Task</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="field-3" class="control-label">Các công việc cần làm</label>
                                <table class="table table-striped">
                                    <tbody id="tbdyHangMuc2">
                                        <tr id="LastRow2">
                                            <td></td>
                                            <td> <input class="form-control" id="LastInput2" type="text"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Thoát</button>
                    <button type="button" id="btnSubmitTask" class="btn btn-primary waves-effect waves-light">Lưu</button>

                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <div id="CommentModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-60">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Thông tin Shipable</h4>
                </div>
                <div class="modal-body" id="modalCMBDY">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div id="addTemplate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-60">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Lưu quy trình</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">Tên Quy trình</label>
                                <input style="width:100%" id="txtTenMauShipableM" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Thoát</button>
                <button type="button" id="btnSubmitIM" class="btn btn-primary waves-effect waves-light">Lưu</button>

            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<div id="detailsTodoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Chi tiết công việc</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="DuAnIdToUpdate" />
                <input type="hidden" id="TuanToUpdate" />
                <input type="hidden" id="GiaiDoanDuAnUpdateTodo" />
                <input type="hidden" id="ShipIdUpdateTodo" />
                <input type="hidden" id="CongViecIdToUpdate" />
                <div class="row">
                    <div class="col-md-12">
                        <h3>Ship: <span id="TenKhoaCha"></span></h3>
                        <div class="row m-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Tên công việc</label>
                                    <input type="text" class="form-control" id="TenCongViecToUpdate" placeholder="Tên công việc">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    <textarea class="form-control" id="MoTaToUpdate" placeholder="Mô tả"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Thứ tự ưu tiên</label>
                                    <select class="form-control" id="ThuTuUuTienToUpdate">
                                        <option value="1" class="text-success">Thấp</option>
                                        <option value="2">Trung bình</option>
                                        <option value="3">Cao</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Loại công việc</label>
                                    <select class="form-control" id="LoaiCongViecToUpdate" multiple></select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Deadline</label><span class="text-muted">(tùy chọn)</span>
                                    <div class='input-group date' id='datetimepicker12'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <input type='text' id="NgayDuKienHoanThanhToUpdate" class="form-control" />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ước lượng</label>
                                    <input type="text" class="form-control" id="ThoiGianUocLuongToUpdate" placeholder="Số giờ">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Độ phức tạp</label>
                                    <select class="form-control" id="DoPhucTapToUpdate">
                                        <option value="1" class="text-success">Dễ</option>
                                        <option value="2">Bình thường</option>
                                        <option value="3">Khó</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Điểm point</label>
                                    <input type="text" class="form-control" id="DiemPointToUpdate" placeholder="Point">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <select class="form-control selectpicker" id="TrangThaiCongViecToUpdate">
                                        @*@if (Model.TrangThaiTasks != null && Model.TrangThaiTasks.Count > 0)
                                            {
                                                foreach (var tt in Model.TrangThaiTasks)
                                                {
                                                    <option value="@tt.TrangThaiCongViecId" data-content="<span class='label label-@tt.MaMau'>@tt.TenTrangThai</span>">Doing</option>
                                                }
                                            }*@
                                        <option value="18" data-content="<span class='label label-secondary'>New</span>">New</option>
                                        <option value="9" data-content="<span class='label label-warning'>Doing</span>">Doing</option>
                                        <option value="10" data-content="<span class='label label-danger'>Block</span>">Block</option>
                                        <option value="11" data-content="<span class='label label-success'>Done</span>">Done</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Người nhận</label>
                                    <select class="js-example-basic-single" id="NguoiXuLyToUpdate" name="state"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Người hỗ trợ</label>
                                    <select class="js-example-basic-single" id="NguoiHoTroToUpdate" name="state"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default waves-effect waves-light" onclick="updateTodo()">Cập nhật</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<table class="table table-no-bordered ship-able-table" id="tableToDoWork">
    <thead>
        <tr>
            <th colspan="2"><input id="txtTenShipF" type="text" class="form-control " value="@Model.TenShipable" placeholder="Tên ship" /> </th>
            <th width="70px"> </th>
            <th width="120px"><p class="font-16">Trạng thái </p></th>
            <th width="220px"><p class="font-16">Time </p></th>
            <th width="120px"><p class="font-16">Dead Line </p></th>
            <th width="120px"><p class="font-16">Người được giao </p></th>
            <th colspan="2" width="240px"></th>
        </tr>
    </thead>
    <tbody id="tbyToDoWork">
        @if (Model != null && Model.DuAns != null && Model.DuAns.Count > 0)
        {
            foreach (var duAn in Model.DuAns)
            {
                <tr class="trDuAn-@duAn.DuAnId">
                    <td colspan="9">
                        <span class="font-20 font-w-300"><i class="fal fa-folder-open m-r-5"></i>@duAn.TenDuAn</span>
                    </td>
                </tr>
                if (duAn.CongViecs != null && duAn.CongViecs.Count > 0)
                {
                    foreach (var ship in duAn.CongViecs)
                    {
                        <tr class="ship-@ship.CongViecId-duAn-@ship.DuAnId">
                            <td width="4%">
                                <a class="font-w-500 font-16 text-inverse shipdetails btn btn-link" id="@ship.CongViecId">#@ship.CongViecId </a>
                            </td>
                            <td class="tenCongViecF">
                                <a class="font-w-500 font-16 text-inverse shipdetails btn btn-link" id="@ship.CongViecId"> @ship.TenCongViec </a>
                            </td>
                            <td></td>
                            <td class="ship-able-status">
                                @*<div class="label font-14 label-table label-@ship.MaMau">@ship.TenTrangThai</div>*@
                                <select class="form-control selectpicker ddlTTShipable" id="ddTTShipable-@ship.CongViecId">
                                    <option value="1" data-content="<span class='label label-primary'>New</span>">New</option>
                                    @if (ship.TrangThaiCongViecId == 2)
                                    {


                                        <option value="2" selected data-content="<span class='label label-warning'>Doing</span>">Doing</option>
                                    }
                                    else
                                    {
                                        <option value="2" data-content="<span class='label label-warning'>Doing</span>">Doing</option>
                                    }
                                    @if (ship.TrangThaiCongViecId == 4)
                                    {
                                        <option value="4" selected data-content="<span class='label label-success'>Done</span>">Done</option>
                                    }
                                    else
                                    {
                                        <option value="4" data-content="<span class='label label-success'>Done</span>">Done</option>
                                    }

                                    @if (ship.TrangThaiCongViecId == 5)
                                    {
                                <option value="5" selected data-content="<span class='label label-danger'>Block</span>">Block</option>
                                    }
                                    else
                                    {
                                <option value="5" data-content="<span class='label label-danger'>Block</span>">Block</option>
                                    }
                                    
                                </select>
                            </td>
                            <td></td>
                            <td>
                                @if (ship.NgayDuKienHoanThanh != null)
                                {
                                    <p> @ship.NgayDuKienHoanThanh.Value.ToString("dd/MM/yyyy")</p>
                                }



                            </td>
                            <td width="15%">
                                @if (ship.NguoiXuLyId != null)
                                {
                                    <img src="~/Assets/images/Avatar/@ship.AvatarNguoiXuLy" alt="user-img" class="img-circle m-r-5" title="@ship.HoTenNguoiXuLy" height="25" width="25"> @ship.HoTenNguoiXuLy
                                }

                            </td>
                            <td colspan="2"></td>
                        </tr>
                        if (ship.CongViecs != null && ship.CongViecs.Count > 0)
                        {
                            foreach (var task in ship.CongViecs)
                            {
                                <tr class="ship-@ship.CongViecId-duAn-@ship.DuAnId">
                                    <td>
                                        &nbsp; <a onclick="detailTodo(@task.CongViecId)" class="btn-link"> #@task.CongViecId</a>
                                    </td>
                                    <td>&nbsp;&nbsp;<a onclick="detailTodo(@task.CongViecId)" class="btn-link"> @task.TenCongViec</a> </td>
                                    <td>
                                        @if (task.QuanTam)
                                        {
                                            <a class="checkQuanTamT " style="font-size: 25px;" id="@task.CongViecId"><i class="fa fa-bell-o" title="Quan tâm"></i></a>
                                        }
                                        else
                                        {
                                            <a class="checkQuanTamT" style="font-size: 25px;" id="@task.CongViecId" title="Quan tâm"><i class="fa fa-bell-slash"></i></a>
                                        }

                                    </td>

                                    <td class="ship-able-status">

                                        <select class="form-control selectpicker ddlTTTask" id="ddlTTTask-@task.CongViecId">
                                            <option value="9" data-content="<span class='label label-warning'>Doing</span>">Doing</option>
                                            @if (task.TrangThaiCongViecId == 10)
                                            {
                                                <option value="10" selected data-content="<span class='label label-danger'>Block</span>">Block</option>
                                            }
                                            else
                                            {
                                                <option value="10" data-content="<span class='label label-danger'>Block</span>">Block</option>
                                            }
                                            @if (task.TrangThaiCongViecId == 11)
                                            {
                                                <option value="11" selected data-content="<span class='label label-success'>Done</span>">Done</option>
                                            
                                        }
                                        else
                                        {
                                            <option value="11" data-content="<span class='label label-success'>Done</span>">Done</option>

                                        }
                                            </select>




                                            @*<div class="label label-table font-13 p-r-20 label-@task.MaMau" width="100%">@task.TenTrangThai</div>*@

                                            @if (task.NguoiDungs != null && task.NguoiDungs.Count > 0)
                                            {
                                                foreach (var nguoiDung in task.NguoiDungs)
                                                {
                                                    <span>
                                                        <img src="~/Assets/images/Avatar/@nguoiDung.Avatar" alt="user-img" class="img-circle m-r-5" height="25" title="@nguoiDung.HoTen" width="25">
                                                    </span>
                                                }
                                            }


                                        </td>
                                    <td>@Html.Raw(task.StrTotalTime)</td>
                                    <td>
                                        @if (task.NgayDuKienHoanThanh != null)
                                        {
                                            <p> @task.NgayDuKienHoanThanh.Value.ToString("dd/MM/yyyy")</p>
                                        }

                                    </td>
                                    <td width="15%">  <img src="~/Assets/images/Avatar/@task.AvatarNguoiXuLy" alt="user-img" class="img-circle m-r-5" height="25" title="@task.HoTenNguoiXuLy" width="25"> @task.HoTenNguoiXuLy </td>

                                    <td width="240px">
                                        @if (Model.CurrentTask != null && task.CongViecId == Model.CurrentTask.CongViecId)
                                        {
                                            @*<a class="tdStart-@Model.CurrentTodoId">
                                                    <img src="~/Assets/images/todo-icon/stop-time.svg" class="iconPauseTime" height="25" width="25" />
                                                </a>*@
                                            <a class="tdStart-@Model.CurrentTodoId" style="font-size: 25px;" title=" Dừng chạy giờ"> <i class="fa fa-stop iconPauseTime"></i></a>
                                        }
                                        else
                                        {
                                            <a class="tdStart-@task.CongViecId" style="font-size: 25px;" title="Chạy giờ"> <i class="fa fa-play iconStartTime"></i></a>
                                            @*<a class="tdStart-@task.CongViecId">
                                                    <img src="~/Assets/images/todo-icon/start-time.svg" class="iconStartTime" height="25" width="25" />
                                                </a>*@
                                        }
                                        <a class="m-r-10 m-l-10 AddTimeWTT" style=" font-size: 25px;" id="@task.CongViecId" height="25" width="25" title="Add time"><i class="fal fa-user-clock"></i></a>
                                        <a class="m-r-10 m-l-10 EditTaskT" style=" font-size: 25px;" id="@task.CongViecId" height="25" width="25" title="Chỉnh sửa Task"><i class="fal fa-edit"></i></a>

                                        <a class="deleteTaskT" style="font-size: 25px;" id="@task.CongViecId" title="Xóa Task"><i class="fal fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }

                        }
                        <tr class="ship-@ship.CongViecId-duAn-@ship.DuAnId">
                            <td colspan="9" class="ship-@ship.CongViecId">
                                <div class="btn-group">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a id="@ship.CongViecId-@duAn.DuAnId" class="btn btn-light dropdown-toggle waves-effect waves-light addnewtask"><span class="m-r-5"><i class="fa fa-plus-square"></i></span>Thêm mới Task </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
<input type="hidden" value="@Model.strDuAnIds" id="strDuAnIds" />
<input type="hidden" value="@Model.StrNguoiDungId" id="strNguoiDungIdM" />
<input type="hidden" value="@Model.StrPhongBanIds" id="strPhongBanIds" />
<input type="hidden" value="@Model.StrTrangThaiDuAnIds" id="strTrangThaiDuAnIds" />
<input type="hidden" value="@Model.StrStartDate" id="strStartDateM" />
<input type="hidden" value="@Model.StrEndDate" id="strEndDateM" />
<input type="hidden" value="@Model.Type" id="typeM" />
<input type="hidden" value="@ViewBag.Ma" id="maM" />
<input type="hidden" value="@Model.CurrentTodoId" id="currentTodoIdM" />
<input type="hidden" value="@ViewBag.NguoiDungIdM" id="NguoiDungIdM" />
@if (Model.CurrentTask != null)
{
    <input type="hidden" value="@Model.CurrentTask.TongThoiGianLog" id="TimeValueM" />
}
else
{
    <input type="hidden" value="0" id="TimeValueM" />
}
<script src="/Assets/js/Modul/ToDoWork.js"></script>
